<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ingresar o Registrarse</title>
    <% include partials/head%>
</head>
<body class="signup">
    <div class="container login">
      <div class="jumbotron mt-4">
        <div class="card text-center mt-5">
            <div class="card-body">
              <h1><span class="fa fa-users"></span> Ingresa o Registrate</h1>
             <a href="/login" class="btn btn-light bt-lg">
               <span class="fa fa-user"></span> Ingresar
              </a>
                 <a href="/signup" class="btn btn-light bt-lg">
                <span class="fa fa-user"></span> Registrarse
             </a>
            </div>
        </div>
        </div>
      </div>
</body>
</html> 