<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--BOOTSTRAP CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../public-css/home.css">
    <link rel="stylesheet" href="../public-css/main.css">
    <!--Animated cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <title>Buscador</title>
</head>
<body class="home">
    <header class="header">
        <div class="canning-box logo-nav-canning-box">
        <div align="center"><IMG src="../public-css/Favicon.ico" class="logo-img"><a class="logo">Busca tu mascota!</a></div>
            <nav class="navigation">
            <ul>
            <li><a href="./home">Inicio</a></li>
            <li><a href="./upload">Agregar mascota</a></li>
            <li><a href="/logout">Salir</a></li>
            </ul>
        </nav>
        </div>
        </div>
    </header>